html {
    height: 1024px;
}
body {
    background-color:rgb(41, 40, 40);
    background: url(img/background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Calligraffitti';
}

h1.header {
    text-align: center;
   position: relative;
    width: 747px;
    height: 178px;
    left: 322px;
    top: -42px;
    right: 322px;
    bottom: auto;
    color: white;
    font-size: 130px;
    line-height: 204px;
    font-weight: normal;
font-style: normal;}

.btn.btn-primary.p-4 {
    position: relative;
    width: 240px;
    height: 65px;
    left: 650px;
    top: -210px;
    padding: 5px;
    margin: 5px;
    font-family: Alef;
    font-size: 22px;    
    background: green;  
    border: 1px solid #0C7A03;
}
.btn.btn-1-primary {
    position: relative;
    width: 240px;
    height: 65px;
    left: 680px;
    top: -210px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    font-family: Alef;
    position: relative;
    width: 1700px;
    height: 76px;
    left: 0px;
    top: -38px;
    border-radius: 4px;
    font-size: 22px;  
}

/* .card-columns.m-3.p-3 {
    position: relative;
    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 951px;
    height: 739.42px;
    left: 350px;
    top: -35px;
    box-sizing:unset;
} */
.card-group {
    padding: 10px;
    width: 1200px;
padding-left: 480px;
overflow: hidden;

    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* display: flexbox;
  flex-wrap: wrap; */
  flex-basis: 100%;
}
/* .card-group {
   overflow: hidden;
    width: 1500px;
padding-left: 260px;

    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
} */

h2.header2 {
    position: relative;
    text-align: center;
    color: white;
    width: 508px;
    height: 40px;
    left: 550px;
    top: -10px;
    font-family: Aref;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
}
.col-6{
    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: white;
    position: relative;
    width: 544px;
    height: 571px;
    left: 476px;
    top: 10px;
}
.btn.btn-primary {
    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: white;
    text-align: center;
    background: green;  
    border: 1px solid #0C7A03;
}
.form-row
{
    font-family: Aref Ruqaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    color: white;
    top: 10px;
    width: 600px;
    height: 268px;
    left: 550px;
}
.card-deck.m-3{
    position: relative;
    width: 1357px;
    height: 352px;
    left: 175px;
    top: 30px;
}
h5.card-title{
    font-weight: bold;
}
